-
  (function () {
    var this_page = page.path.split("/")[0];
    if (this_page == 'index.html' || this_page == 'page') {
      return pageTypeFull = true;
    }
    for (key in theme.menu) {
      if (this_page == key.toLowerCase()) {
        return pageTypeFull = true;
      }
    }
    return pageTypeFull = false;
  })()
  function pageType() {
    return pageTypeFull;
  }

doctype html
html(lang=config.language)
  head
    include head
  body(itemscope itemtype="https://schema.org/WebPage")
    include menu
    .page-background
    .content-container
      .content-outer(class=pageType() ? 'main' : '')
        .content-inner(itemscope itemtype="https://schema.org/Blog")
          if body
            div!= body
          else
            block content
    include footer

    if theme.dynamic_menu
      != "<!--[if lt IE 10]>"
      script(src="/js/classList.min.js")
      != "<![endif]-->"
      script(src="/js/index.min.js")
    else
      script(src="/js/sharer.min.js")
