@import "./variables.css";

.page-background {
  z-index: -1;
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-outer {
  margin-top: var(--menu-height);
  @media (--desktop) {
    margin-top: var(--menu-height);
  }
  &.main {
    margin-top: 320px;
    @media (--desktop) {
      margin-top: 320px;
    }
  }
}

.content-inner {
  width: 100%;
  padding: var(--base-margin) 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}