@import "./variables.css";

.pagination {
  width: 100%;
  text-align: center;
  padding: 50px 0 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;

  & .current, & a {
    display: inline-block;
    padding: 0 1px;
    margin: 0 4px;
    border-bottom: 1px solid;
  }

  & .current {
    color: var(--primary-sky);
    border-color: var(--primary-sky);
  }

  & .space {
    color: var(--gray);
  }

  & a {
    color: var(--gray);
    border-color: transparent;
    transition:
      border-color 0.27s ease,
      color 0.27s ease;

    &:hover {
      color: var(--medium-gray);
    }
  }
}
