@import "./variables.css";

.post-list {
  position: relative;
  max-width: var(--content-width);
  margin: auto;
  padding: 0 1rem;
  box-sizing: content-box;
}

.post-list__item {
  overflow: hidden;
  padding: 14px 0 35px;
  border-bottom: 1px solid var(--semi-white);
}

.post-list__item__link {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 75%;
  &:hover {
    & .post-list__item__link__background {
      transform: scale(1.2);
    }
  }
}

.post-list__item__link__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.27s ease;
}

.post-list__item__meta__link {
  color: var(--gray);
  &:hover {
    color: var(--primary-sky);
  }
}

.post-list__item__meta__label {
  color: var(--gray);
  margin: 0 0.5rem;
}

.post-list__item__title {
  margin: 19px 0;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.15;
  height: calc(2.3em - 1px);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  & a {
    cursor: pointer;
    color: var(--black);
    &:hover {
      color: var(--medium-gray);
    }
  }
}

.post-list__item__description {
  color: var(--darked-gray);
  margin: 0;
  font-size: 14px;

  @media (--mobile) {
    height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
