:root {
  /* Colors */
  --white: #FFF;
  --semi-white: #F6F6F6;

  --black: #000;

  --gray: #999;
  --medium-gray: #666;
  --darked-gray: #333;
  --lighted-gray: #EDEDED;

  --primary-sky: rgb(89, 171, 227);
  --darked-sky: color(var(--primary-sky) shade(20%));
  --lighted-sky: color(var(--primary-sky) tint(20%));

  --white-alpha: rgba(255,255,255,.5);

  /* Pixels */
  --em-base: 16px;

  --base-margin: 68px;
  --menu-height: 4rem;
  --content-width: 890px;
  --container-width: 800px;

  --bold-font: 500;

  @custom-media --mobile only screen and (max-width: 624px);
  @custom-media --desktop only screen and (min-width: 624px);
}